.navbarbox{
    background-color: #3b5998;
    height: 55px;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    /* align-items: center; */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}


.navBarLeft{
    flex: 3;



}



.navBarCenter{
    flex: 5;


}


.navBarRight{

    flex: 4;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 80px;
   
   

}

.navBarLinks{

    color: white;
    font-size: 20px;
    display: flex;
    margin-left: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.navBarIcons{
    display: flex;
    align-items: center;
    margin-left: 50px;
    
    


}

.profilepicimg{
    width: 40px;
    height: 50px;
    object-fit: cover; 
    border-radius: 50%;
    margin-right: 10px;



}


.logo{
    font-size: 35px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
   
    
}

.searchBar{
    widows: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    border: none;
    align-items: center;
    margin-top: 8px;
   
    
   
    
    
}

.searchIcon{
    margin-left: 10px;


}

.searchInput{
    widows: 100%;
    height: 25px;
    width: 400px;
    background-color: white;
    border-radius: 30px;
    align-items: center;
    border: none;
    outline: none;
    
    
}